/* #region assets */

/* colors */

:root{
    --primary:#0061ff;
    --bg-section:#b4d0e7;
    --bg-footer: #000000;
}

/* columns */

.col-1{
    width: calc((100%/12)*1);
}

.col-2{
    width: calc((100%/12)*2);
}

.col-3{
    width: calc((100%/12)*3);
}

.col-4{
    width: calc((100%/12)*4);
}

.col-5{
    width: calc((100%/12)*5);
}

.col-6{
    width: calc((100%/12)*6);
}

.col-7{
    width: calc((100%/12)*7);
}

.col-8{
    width: calc((100%/12)*8);
}

.col-9{
    width: calc((100%/12)*9);
}

.col-10{
    width: calc((100%/12)*10);
}

.col-11{
    width: calc((100%/12)*11);
}

.col-12{
    width: calc((100%/12)*12);
}

/* proprieties */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    width: 100vw;
    overflow-x: hidden;
}

.df{
    display: flex;
}

.jcc{
    justify-content: center;
}

.jcsb{
    justify-content: space-between;
}

.aic{
    align-items: center;
}

.cw{
    color: white;
}

/* utilities */

.container{

}

.row{
    display: flex;
    flex-wrap: wrap;
}





/* #endregion assets */

/* #region header */

.leftmenu img , .leftmenu a , .rightmenu a , .rightmenu div{
    padding: 1rem;
}

.menu-functions{
    text-decoration: none;
    
}

.leftmenu>.menu-functions:hover , .rightmenu>.menu-functions:hover{
    box-shadow: 0px 2px 0px black;
}

.rightmenu{
    flex-direction: row-reverse;
}

.sign-in{
    background-color: var(--primary);
    padding: 0.5rem 1rem;
    border: 1px solid var(--primary);
    cursor: pointer;
}

.sign-in:hover{
    background-color: white;
    color: var(--primary);
    transition-delay: 0.3s;
}


/* #endregion header */

/* #region main*/


/* #endregion main */