/* #region assets */

/* colors */

:root{
    --primary:#0061ff;
    --bg-section:#b4d0e7;
    --bg-footer: #000000;
}

/* columns */

.col-1{
    width: calc((100%/12)*1);
}

.col-2{
    width: calc((100%/12)*2);
}

.col-3{
    width: calc((100%/12)*3);
}

.col-4{
    width: calc((100%/12)*4);
}

.col-4-gap{
    width: calc((95%/12)*4);
}

.col-5{
    width: calc((100%/12)*5);
}

.col-6{
    width: calc((100%/12)*6);
}

.col-7{
    width: calc((100%/12)*7);
}

.col-8{
    width: calc((100%/12)*8);
}

.col-9{
    width: calc((100%/12)*9);
}

.col-10{
    width: calc((100%/12)*10);
}

.col-11{
    width: calc((100%/12)*11);
}

.col-12{
    width: calc((100%/12)*12);
}

/* proprieties */

html{
    scroll-behavior: smooth;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    width: 100vw;
    overflow-x: hidden;
}

.df{
    display: flex;
}

.jcc{
    justify-content: center;
}

.jcsb{
    justify-content: space-between;
}

.aic{
    align-items: center;
}

.cw{
    color: white;
}

/* utilities */

.container{
    width: 65%;
    margin: auto;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

.gap1{
    gap: 1rem;
}





/* #endregion assets */

/* #region header */

.leftmenu img , .leftmenu a , .rightmenu a , .rightmenu div{
    padding: 1rem;
}

.menu-functions{
    text-decoration: none;
    
}

.leftmenu>.menu-functions:hover , .rightmenu>.menu-functions:hover{
    border-bottom: 1px solid black;
}

.rightmenu{
    flex-direction: row-reverse;
}

.sign-in{
    background-color: var(--primary);
    padding: 0.5rem 1rem;
    border: 1px solid var(--primary);
    cursor: pointer;
}

.sign-in:hover{
    background-color: white;
    color: var(--primary);
    transition-delay: 0.3s;
}


/* #endregion header */

/* #region main*/

/* #region jumbotron */
#jumbotron{
    background-color: var(--bg-section);
    
}


#jumbotron>.container{
    width: 75%;
}

.container>h1{
    font-size: 5rem;
    padding-top: 1em;
    padding-bottom: 0.8em;
}

.jumbodesc>p{
    font-size: 1.2rem;
}

.jumbodesc>button{
    font-size: 1.2rem;
    margin: 2em 0;
}

.jumbodesc>a{
    color: black;
    text-decoration: none;
    font-size: 5rem;
}



/* #endregion jumbotron */

/* #region plans */

.container>h2{
    font-size: 3rem;
    padding-top: 1em;
    padding-bottom: 0.8em;
}

.mark-plan{
    font-size: 1.2rem;
}

.option-mark{
    width: 1rem;
    aspect-ratio: 1/1;
    border: 1px solid var(--primary);
    border-radius: 50%;
}

.option-mark:hover{
    border: 5px solid var(--primary);    
}

.mark-plan span{
    display: inline-block;
    margin: 0 2rem 0 0.3rem;
}

.plans{
    border: 1px solid var(--primary);
    margin-top: 3rem;
    
}

.plan-name{
    font-size: 1.2rem;
    padding: 1rem 0;
    border-bottom: 1px solid var(--primary);
}

.plan-info>*{
    display: block;
    margin: 1rem;
}

.plan-info>h4{
    font-size: 1.5rem;
}

.plan-info>strong{
    margin: 0 1rem;
}

.plan-info>ul{
    list-style: none;
    font-size: 0.8rem;
}

li>svg{
    margin: 0.5rem 0.2rem 0.5rem 0;
}

li>p{
    margin: 0.5rem 0;
}

.plan-info>button{
    width: 80%;
    margin: auto;
    margin-top: 1rem;
}

.oppure{
    box-shadow: 0 1px 0 gray;
    padding-bottom: 2rem;
    margin-bottom: 2rem;
}

.plan-info>h5{
    font-size: 1.2rem;
    margin-top: 4rem;
}

.bi-check-lg{
    color: var(--primary);
}

/* #endregion plans */


/* #endregion main */