/* #region assets */

/* colors */

:root{
    --primary:#0061ff;
    --bg-section:#b4d0e7;
    --bg-footer: #000000;
    --bg-designit:#a2d39b;
    --bg-asu:#61082b;
    --bg-uof:#0093ce;
    --bg-topps:#ff1c1c;
    --bg-designit-big:#f5f5f5;
    --bg-wbr:#d5001f;
    --bg-lp:#0d2481;
    --bg-cco:#ffd830;
    --col-border-designit:#d1e9cd;
}

/* columns */

.col-1{
    width: calc((100%/12)*1);
}

.col-2{
    width: calc((100%/12)*2);
}

.col-3{
    width: calc((100%/12)*3);
}

.col-4{
    width: calc((100%/12)*4);
}

.col-4-gap{
    width: calc((95%/12)*4);
}

.col-5{
    width: calc((100%/12)*5);
}

.col-6{
    width: calc((100%/12)*6);
}

.col-7{
    width: calc((100%/12)*7);
}

.col-8{
    width: calc((100%/12)*8);
}

.col-8-gap{
    width: calc((95%/12)*8);
}

.col-9{
    width: calc((100%/12)*9);
}

.col-10{
    width: calc((100%/12)*10);
}

.col-11{
    width: calc((100%/12)*11);
}

.col-12{
    width: calc((100%/12)*12);
}

/* proprieties */

html{
    scroll-behavior: smooth;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    width: 100vw;
    overflow-x: hidden;
}

.df{
    display: flex;
}

.jcc{
    justify-content: center;
}

.jcfe{
    justify-content: flex-end;
}

.jcsb{
    justify-content: space-between;
}

.aic{
    align-items: center;
}

.cw{
    color: white;
}

pr{
    position: relative;
}

/* utilities */

.container{
    width: 65%;
    margin: auto;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

.gap1{
    gap: 1rem;
}





/* #endregion assets */

/* #region header */

.menu-lg{
    background-color: var(--bg-section);
}

.menu-lg>img{
    margin: 1rem 0 0 1rem;
}

.leftmenu img , .leftmenu a , .rightmenu a , .rightmenu div{
    padding: 1rem;
}

.menu-functions{
    text-decoration: none;
    
}

.leftmenu>.menu-functions:hover , .rightmenu>.menu-functions:hover{
    border-bottom: 1px solid black;
}

.rightmenu{
    flex-direction: row-reverse;
}

.sign-in{
    background-color: var(--primary);
    padding: 0.5rem 1rem;
    border: 1px solid var(--primary);
    cursor: pointer;
}

.sign-in:hover , .menu-button:hover{
    background-color: white;
    color: var(--primary);
    transition-delay: 0.3s;
}

.menu-toggle {
    display: none;
  }
  
  .menu-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: var(--primary);
    color: white;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    margin: 1rem 2rem 0 0;
  }
  
  .modal-menu {
    position: fixed;
    top: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    display: none;
    justify-content: center;
    align-items: center;
    
  }
  
  .modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
  }
  
  .menu-toggle:checked ~ .modal-menu {
    display: flex;
  }
  
  .close-button {
    display: block;
    text-align: right;
    font-size: 24px;
    cursor: pointer;
    color: red;
  }
  

  ul {
    list-style: none;
    padding: 0;
  }
  
  ul li {
    margin: 10px 0;
  }
  
  ul li a {
    text-decoration: none;
    color: #007bff;
    font-size: 18px;
  }


/* #endregion header */

/* #region main*/

/* #region jumbotron */
#jumbotron{
    background-color: var(--bg-section);
    
}

header{

}

#jumbotron>.container{
    width: 75%;
    
}

.container>h1{
    font-size: 5rem;
    padding-top: 1em;
    padding-bottom: 0.8em;
}

.jumbodesc>p{
    font-size: 1.2rem;
}

.jumbodesc>button{
    font-size: 1.2rem;
    margin: 2em 0;
}

.jumbodesc>a{
    color: black;
    text-decoration: none;
    font-size: 5rem;
}

/* .pr>.img-jumbo{
    position: absolute;
    bottom: -5rem;
} */


/* #endregion jumbotron */

/* #region plans */

.container>h2{
    font-size: 3rem;
    padding-top: 1em;
    padding-bottom: 0.8em;
}

.mark-plan{
    font-size: 1.2rem;
}

.option-mark{
    width: 1rem;
    aspect-ratio: 1/1;
    border: 1px solid var(--primary);
    border-radius: 50%;
}

.option-mark:hover{
    border: 5px solid var(--primary);    
}

.mark-plan span{
    display: inline-block;
    margin: 0 2rem 0 0.3rem;
}

.plans{
    border: 1px solid var(--primary);
    margin-top: 3rem;
    
}

.plan-name{
    font-size: 1.2rem;
    padding: 1rem 0;
    border-bottom: 1px solid var(--primary);
}

.plan-info>*{
    display: block;
    margin: 1rem;
}

.plan-info>h4{
    font-size: 1.5rem;
}

.plan-info>strong{
    margin: 0 1rem;
}

.plan-info>ul{
    list-style: none;
    font-size: 0.8rem;
}

li>svg{
    margin: 0.5rem 0.2rem 0.5rem 0;
}

li>p{
    margin: 0.5rem 0;
}

.plan-info>button{
    width: 80%;
    margin: auto;
    margin-top: 1rem;
}

.oppure{
    box-shadow: 0 1px 0 gray;
    padding-bottom: 2rem;
    margin-bottom: 2rem;
}

.plan-info>h5{
    font-size: 1.2rem;
    margin-top: 4rem;
}

.bi-check-lg{
    color: var(--primary);
}

/* #endregion plans */

/* #region partners */

#partners>.container{
    margin-top: 10rem;
}

h3{
    font-size: 1.5rem
}

.partners-desc>h3{
    margin-top: 2em;
    margin-bottom: 1em;
}

.partners-desc p{
    font-size: 1.2rem;
    margin-bottom: 2rem;
}

.btn-type2{
    padding: 0.7rem 1.4rem;
    border: 1px solid black;
    cursor: pointer;
    font-size: 1.2rem;    
}

.btn-type2:hover{
    border: 1px solid var(--primary);
    color: white;
    background-color: var(--primary);
    transition-delay: 0.3s;
}

/* #endregion partners */

/* #region operations */

#operations>.container{
    margin-top: 10rem;
}

.tools>p{
    margin-bottom: 1rem;
    padding-right: 1rem;
}

/* #endregion operations */

/* #region alleance */

#alleance>.container{
    margin-top: 10rem;
    margin-bottom: 2em;
}

.coop{
    aspect-ratio: 1/1;
}

.coop-big{
    aspect-ratio: 2/1;
}

.logo-svg {
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(100%) contrast(100%);
  }
  

.designit{
    background-color: var(--bg-designit);
    border: 7px solid var(--col-border-designit);
}

.asu{
    background-color: var(--bg-asu);
}

.uof{
    background-color: var(--bg-uof);
}

.topps{
    background-color: var(--bg-topps);
}

.wbr{
    background-color: var(--bg-wbr);
}

.hc{
    background-color: var(--bg-section);
}

.lp{
    background-color: var(--bg-lp);
}

.cco{
    background-color: var(--bg-cco);
}

.designit-big{
    background-color: var(--bg-designit-big);
    border: 0 2rem solid var(--bg-designit-big);
}

.logo-alleance-big{
    margin-left: 2rem;
}

.designit-big p{
    margin: 0 2rem 2rem 2rem;

}

.flayer{
    background-color: var(--bg-section);
}

.flayer>h3{
    margin: 5rem 0;
    color: var(--bg-asu);
    font-size: 2rem;
}

.flayer>.btn-type2{
    margin: 5rem 0;
}
/* #endregion alleance */

/* #region faq */

#faq>.container{
    margin-top: 10rem;
}

.menu-faq{
    padding: 2rem 0;
    border-bottom: 2px  solid gray;
}

.menu-faq:nth-of-type(1){
    border-top:2px solid gray;
}

.menu-faq>div:first-child{
    font-weight: 700;
}

.menu-faq-hover , .menu-faq-arrow{
    padding: 1rem 0;
    display: none;

}

.menu-faq:hover .menu-faq-hover{
    display: block;
}

.menu-faq:hover .menu-faq-arrow{
    display: flex;
}

.menu-faq:hover .bi-caret-down-fill{
    display: none;
}

.bi-caret-down-fill , .bi-caret-up-fill{
    justify-content: flex-end;
    
}

/* #endregion faq */



/* #endregion main */

/* #region footer */

footer{
    background-color: var(--bg-footer);
    margin-top: 10rem;
}

footer>.container{
    padding: 4rem 0;
}

.footer-col{
    flex-direction: column;
}

.footer-col>h6{
    font-size: 1.5rem;
    padding-bottom: 1rem;
    font-weight: 700;
}

.footer-col>a{
    text-decoration: none;
    color: white;
    font-size: 0.9rem;
    padding-bottom: 0.8rem;
}

.lenguage{
    align-items: flex-end;
    color: gray;

}

.menu-lenguage{
    cursor: pointer;
    position: relative;
    margin-bottom: 4rem;
}

.menu-lenguage:hover{
    background-color: lightgray;
}

.menu-lenguage>div{
    padding: 0.5rem;
}

.menu-lenguage-hover{
    /* width: 100%; */
    display: none;
    position: absolute;
    bottom: calc(100% - 0.5rem);
    left: 0;
    
    
}

.leng-item{
    background-color: lightgray;
    color: gray;
    

}

.leng-item>svg{
    fill: gray;
    z-index: 10;
    
}

.leng-item>a{
    text-decoration: none;
    color: gray;
    padding: 0.5rem 1rem;
    
}
.leng-item:hover{
    background-color: rgb(234, 234, 234);
}

.menu-lenguage:hover .menu-lenguage-hover{
    display: flex;
    flex-direction: column-reverse;
    cursor: pointer;
    align-items: center;
    justify-content: center;
}

.menu-lenguage:hover .leng-item{
    display: flex;
    width: 100%
}


/* #endregion footer */

@media only screen and (min-width: 990px){
    .xlg-min-none{
        display: none;
    }
}

@media only screen and (max-width: 990px){
    /* xlg */
    /* plans 
    tabelle 990
    */
    /* partners
    pulsante 990
    
    */

    .xlg-max-none{
        display: none;
    }

    .col-xlg-1{
        width: calc((100%/12)*1);
    }
    
    .col-xlg-2{
        width: calc((100%/12)*2);
    }
    
    .col-xlg-3{
    width: calc((100%/12)*3);
    }
    
    .col-xlg-4{
    width: calc((100%/12)*4);
    }
    
    .col-xlg-4-gap{
    width: calc((95%/12)*4);
    }
    
    .col-xlg-5{
        width: calc((100%/12)*5);
    }
    
    .col-xlg-6{
        width: calc((100%/12)*6);
    }
    
    .col-xlg-7{
        width: calc((100%/12)*7);
    }
    
    .col-xlg-8{
        width: calc((100%/12)*8);
    }
    
    .col-xlg-8-gap{
        width: calc((95%/12)*8);
    }
    
    .col-xlg-9{
        width: calc((100%/12)*9);
    }
    
    .col-xlg-10{
        width: calc((100%/12)*10);
    }
    
    .col-xlg-11{
        width: calc((100%/12)*11);
    }
    
    .col-xlg-12{
        width: calc((100%/12)*12);
    }
}

@media screen and (min-width: 963px){
    .lg-min-none{
        display: none;
    }
}

@media screen and (max-width: 963px){
    /* lg */
    
    
    /* header
    963 bp */
    /* partners
    layout 963 */
    /* operations
    963 2 per fila
     */
    
    .lg-max-none{
        display: none;
    }

     .col-lg-1{
        width: calc((100%/12)*1);
    }
    
    .col-lg-2{
        width: calc((100%/12)*2);
    }
    
    .col-lg-3{
    width: calc((100%/12)*3);
    }
    
    .col-lg-4{
    width: calc((100%/12)*4);
    }
    
    .col-lg-4-gap{
    width: calc((95%/12)*4);
    }
    
    .col-lg-5{
        width: calc((100%/12)*5);
    }
    
    .col-lg-6{
        width: calc((100%/12)*6);
    }

    .col-lg-6-gap{
        width: calc((95%/12)*6);
    }
    
    .col-lg-7{
        width: calc((100%/12)*7);
    }
    
    .col-lg-8{
        width: calc((100%/12)*8);
    }
    
    .col-lg-8-gap{
        width: calc((95%/12)*8);
    }
    
    .col-lg-9{
        width: calc((100%/12)*9);
    }
    
    .col-lg-10{
        width: calc((100%/12)*10);
    }
    
    .col-lg-11{
        width: calc((100%/12)*11);
    }
    
    .col-lg-12{
        width: calc((100%/12)*12);
    }

}

@media screen and (max-width: 845px){
    /* md */
    /* jumbotron
    h1 845
    
    */
}

@media screen and (max-width: 727px){
    /* sm */
    /* jumbotron 
    container 727 */
    /* footer
    705 */

}

@media screen and (max-width: 630){

    /* operations
    630 1 per fila
    */

}


